<div class="cont">
    <div class="r-header-body">
    	<h2>数据信息</h2>
    </div>
    
    <table id="tablePo" class="tabletxt" cellspacing="0" width="700px">
        <thead>
            <tr>
                <th>客户编码</th>
                <th>客户名称</th>
                <th>地址</th>
                <th>时间段</th>
                <th>发电量</th>
            </tr>
        </thead>
        <tbody>
        	<tr role="row" class="odd">
        		<td class=""></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        	<tr role="row" class="even">
        		<td class=""></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        	<tr role="row" class="odd">
        		<td class=""></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        	<tr role="row" class="even">
        		<td class=""></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        	<tr role="row" class="odd">
        		<td class=""></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        	<tr role="row" class="even">
        		<td class=""></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        	<tr role="row" class="odd">
        		<td class=""></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        </tbody>
    </table>
</div>
