<div class="project">
	<div class="cont">
        <div class="r-header-body">
            <h2>销售跟踪单</h2>
        </div>
        <table id="proSale" class="tabletxt" cellpadding="0" cellspacing="0" border="0" width="650px">
        	<tbody>
        		<tr>
        			<td style="text-align: left;">客户：<span>张三</span></td>
        			<td>&nbsp;</td>
        			<td colspan="5">区域：<label>福建<input type="checkbox" value="" /></label><label>萧县<input type="checkbox" value="" /></label><label>海岸<input type="checkbox" value="" /></label><label>扬州<input type="checkbox" value="" /></label><label>寿县<input type="checkbox" value="" /></label></td>
        		</tr>
        		<tr>
        			<td colspan="3" style="text-align: left;">建档日期：<span></span></td>
        			<td colspan="4" style="text-align: left;">客户编号：<span></span></td>
        		</tr>
        		<tr>
        			<td>序号</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        		</tr>
        		<tr>
        			<td>1</td>
        			<td>实际容量（瓦）</td>
        			<td>5000</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        		</tr>
        		<tr>
        			<td>2</td>
        			<td>销售价格（瓦）</td>
        			<td>8</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        		</tr>
        		<tr>
        			<td>3</td>
        			<td>建设成本</td>
        			<td>5.5</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        		</tr>
        		<tr>
        			<td>4</td>
        			<td>销售人员</td>
        			<td>丁亚梅</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        		</tr>
        		<tr>
        			<td>5</td>
        			<td>开发费用</td>
        			<td>总额</td>
        			<td>销售人员</td>
        			<td>管理人员</td>
        			<td>代理商</td>
        			<td>&nbsp;</td>
        		</tr>
        		<tr>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>1300</td>
        			<td>100</td>
        			<td>1000</td>
        			<td>200</td>
        			<td>&nbsp;</td>
        		</tr>
        		<tr>
        			<td>6</td>
        			<td>每月还贷金额（元）</td>
        			<td>430</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        		</tr>
        		<tr>
        			<td>7</td>
        			<td>贷款期限（月）</td>
        			<td>120</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        		</tr>
        		<tr>
        			<td>8</td>
        			<td>还贷时间</td>
        			<td>每月15号</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        		</tr>
        		<tr>
        			<td>9</td>
        			<td>预计每月售电收入</td>
        			<td>460</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        		</tr>
        		<tr>
        			<td>&nbsp;</td>
        			<td>净利：</td>
        			<td>14800</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        			<td>&nbsp;</td>
        		</tr>
        	</tbody>
        </table>
	</div>
</div>