<div class="cont">
    <div class="r-header-body">
        <!--<div class="right-list">-->
        	<label>客户状态：
            <select>
            	<option>Status</option>
            	<option>Progress</option>
            	<option>Emp Status</option>
            	<option>Position</option>
            </select>
         </label>&nbsp;
        	<label>客户区域：
            <select>
            	<option>上海</option>
            	<option>北京</option>
            	<option>深圳</option>
            </select>
            </label>&nbsp;
            <button id="search" class="button-sytle1">查询</button>
        <!--</div>-->
    </div>
    
    <table id="tablePo" class="tabletxt" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>序号</th>
                <th>用户姓名</th>
                <th>项目名称</th>
                <th>所在区域（权限）</th>
                <th>状态</th>
                <th>实际容量</th>
                <th>贷款银行</th>
                <th>贷款年限</th>
                <th>实际容量</th>
                <th>贷款比例</th>
                <th>贷款金额</th>
                <th>每月还款金额</th>
            </tr>
        </thead>
        <tbody>
        	<tr role="row" class="odd">
        		<td class="">1</td>
        		<td>张三</td>
        		<td>XXXXX</td>
        		<td>江苏无锡</td>
        		<td>已贷款</td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        	<tr role="row" class="odd">
        		<td class="">2</td>
        		<td>李东哲</td>
        		<td>XXXXX</td>
        		<td>江苏无锡</td>
        		<td>已贷款</td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        	<tr role="row" class="odd">
        		<td class="">3</td>
        		<td>炸ing了</td>
        		<td>XXXXX</td>
        		<td>江苏无锡</td>
        		<td>已贷款</td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        </tbody>
    </table>
</div>
