<div class="cont">
    <div class="r-header-body">
        <!--<div class="right-list">-->
        	<label>项目名称：<input type="text" placeholder="输入项目名...." /></label>
            <label>月份：<input type="text" placeholder="输入月份...." /></label>
            <button id="search" class="button-sytle1">查询</button>
        <!--</div>-->
    </div>
    
    <table id="tablePo1" class="tabletxt" cellspacing="0" width="600px">
        <thead>
            <tr>
                <th>序号</th>
                <th>用户姓名</th>
                <th>项目名称</th>
                <th>贷款金额</th>
                <th>每月还款金额</th>
            </tr>
        </thead>
        <tbody>
        	<tr role="row" class="odd">
        		<td class="">1</td>
        		<td>张三</td>
        		<td>XXXXXX</td>
        		<td></td>
        		<td></td>
        	</tr>
        </tbody>
    </table>
    <br />
    <table id="tablePo2" class="tabletxt" cellspacing="0" width="600px">
        <thead>
            <tr>
                <th>年月</th>
                <th>发电量</th>
                <th>度电价格</th>
                <th>补贴价格</th>
                <th>实际月收入</th>
            </tr>
        </thead>
        <tbody>
        	<tr role="row" class="odd">
        		<td class="">1</td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        	<tr role="row" class="even">
        		<td class="">2</td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        	<tr role="row" class="odd">
        		<td class="">3</td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        	<tr role="row" class="even">
        		<td class="">4</td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        	<tr role="row" class="odd">
        		<td class="">5</td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        	<tr role="row" class="even">
        		<td class="">6</td>
        		<td></td>
        		<td></td>
        		<td></td>
        		<td></td>
        	</tr>
        </tbody>
    </table>
</div>
