<div class="cont">
    <div class="r-header-body">
        <!--<div class="right-list">-->
        	<label>客户状态：</label>
            <select>
            	<option>Status</option>
            	<option>Progress</option>
            	<option>Emp Status</option>
            	<option>Position</option>
            </select>
            <button id="search" class="button-sytle1">查询</button>
        <!--</div>-->
    </div>
    
    <table id="tablePo" class="tabletxt" cellspacing="0" width="350px">
        <thead>
            <tr>
                <th>编号</th>
                <th>用户姓名</th>
                <th style="min-width:200px;">状态</th>
            </tr>
        </thead>
        <tbody>
        	<tr role="row" class="odd">
        		<td class="">1</td>
        		<td>张三</td>
        		<td>农户签约</td>
        	</tr>
        </tbody>
    </table>
</div>
